<div class="main-container">
  <div class="container">
    <h1>Market App</h1>
    <h3>Bienvenido usuario</h3>

    <!-- <select class="form-control col-6" id="tipoDocumento" [(ngModel)]="filtroBusquedaBene.abreviatura" name="tipoDocumento" [ngClass]="{ 'is-invalid': tipoDocumentoMismatch }">
      <option [value]="item.abreviatura" *ngFor="let item of listaInitDocumentos">
        {{item.abreviatura}}</option>
    </select> -->



    <div class="row">
      <div class="col-3">
        <div class="filters-wrapper">
          <app-carrito></app-carrito>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <app-catalogo></app-catalogo>
    </div>
  </div>
</div>